.flex-container {
    background-color: rgb(29, 133, 32);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: stretch;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 20vw;
    font-size: 80px;
}

.terminer {
    font-size: 80px;
    background-color: #4CAF50;
}

.video {
    /*transform-origin: bottom left;*/
    height: 47.2vh;
    object-fit: cover;
    visibility: visible;
}

.rotate180 {
    transform: rotate(180deg);
}

.item {
    margin: 1em;
    min-width: 0;
    background-color: #1B5385;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.initial {
    flex: initial;
}

.auto {
    flex: auto;
}

.none {
    flex: none;
}

.four {
    flex: 4;
}

.two {
    flex: 2;
}

.one {
    flex: 1;
}

p {
    font-size: 50px;
}

.whitetransparent {
    background: rgba(255, 255, 255, 0.4);
    flex-direction: column;
    display: flex;
    align-items: center;
}

.message {
    z-index: 10;
    position: absolute;
    flex: 1;
    font-size: 100px;
    color: white;
    height: 48vh;
    width: 100%;
    background: lightslategray;
    text-align: center;
    visibility: visible;
}

.rightPane {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
    display: flex;
}

.panes {
    flex: 2;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.titre {
    font-size: 100px;
}

.pane {
    height: 20vh;
    width: 30vw;
    background: white;
    margin: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.marginR {
    margin-left: 73vw;
}

.marginM {
    margin-top: 40vh;
}

.marginText {
    margin-top: 41vh;
}

.textSize {
    font-size: 80px;
}

.textBot {
    font-size: 80px;
}

.textBut {
    font-size: 50px;
}

.msg {
    background: white;
    width: 90%;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
}

.photo {
    display: block;
    float: left;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow: hidden;
}